<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="../favicon-32x32.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/html.css">
    <title>HTML - Boxshadow</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <span class="logo">B<span class="logo-span">ox</span>S<span class="logo-span">hadow</span> </span>
        </a>
        <form action="">
            <input type="search" name="" id="" placeholder="Rechercher">
            <input type="submit" value="" class="submit-search">
        </form>
        <div class="links">
            <nav>
                <a href="html.html">HTML</a>
                <a href="css.html">CSS</a>
                <a href="#">Quizzz</a>
                <a href="contact.html">Contact</a>
            </nav>
            <div class="social-media">
                <a href="https://codepen.io/dihcar-cesar/" title="CodePen">
                    <img src="../assets/img/codepen.png" alt="lien codepen">
                </a>
                <a href="https://github.com/Edjek" title="GitHub">
                    <img src="../assets/img/github.png" alt="lien github">
                </a>
            </div>
        </div>
    </header>

    <aside>
        <ul>
            <li>
                <span>Start HTML</span>
                <ul>
                    <li><a href="">Introduction au HTML</a></li>
                    <li><a href="">Éditeurs et programmes</a></li>
                    <li><a href="">Les éléments</a></li>
                    <li><a href="">Tags de base</a></li>
                    <li><a href="">Attributs</a></li>
                    <li><a href="">Les titres</a></li>
                    <li><a href="">Mise en forme HTML</a></li>
                    <li><a href="">Les liens</a></li>
                    <li><a href="">Les images</a></li>
                    <li><a href="">Les listes</a></li>
                    <li><a href="">Les couleurs</a></li>
                    <li><a href="">Les commentaires</a></li>
                    <li><a href="">Les tableaux</a></li>
                    <li><a href="">Scripts</a></li>
                </ul>
            </li>
            <li>
                <span>HTML5</span>
                <ul>
                    <li><a href="">Introduction à HTML5</a></li>
                    <li><a href="">Sémantique</a></li>
                    <li><a href="">AUdio et vidéo</a></li>
                </ul>
            </li>
            <li>
                <span>Les balises HTML</span>
                <ul>
                    <li><a href="">&lt;Les balises globales&gt;</a></li>
                    <li><a href="">&lt;!DOCTYPE&gt;</a></li>
                    <li><a href="">&lt;a&gt;</a></li>
                    <li><a href="">&lt;abbr&gt;</a></li>
                    <li><a href="">&lt;acronym&gt;</a></li>
                    <li><a href="">&lt;address&gt;</a></li>
                    <li><a href="">&lt;applet&gt;</a></li>
                    <li><a href="">&lt;area&gt;</a></li>
                    <li><a href="">&lt;article&gt;</a></li>
                    <li><a href="">&lt;aside&gt;</a></li>
                    <li><a href="">&lt;audio&gt;</a></li>
                    <li><a href="">&lt;b&gt;</a></li>
                    <li><a href="">&lt;base&gt;</a></li>
                    <li><a href="">&lt;basefont&gt;</a></li>
                    <li><a href="">&lt;bdi&gt;</a></li>
                    <li><a href="">&lt;bdo&gt;</a></li>
                    <li><a href="">&lt;big&gt;</a></li>
                    <li><a href="">&lt;blink&gt;</a></li>
                    <li><a href="">&lt;blockquote&gt;</a></li>
                    <li><a href="">&lt;body&gt;</a></li>
                    <li><a href="">&lt;br&gt;</a></li>
                    <li><a href="">&lt;button&gt;</a></li>
                    <li><a href="">&lt;canvas&gt;</a></li>
                    <li><a href="">&lt;caption&gt;</a></li>
                    <li><a href="">&lt;center&gt;</a></li>
                    <li><a href="">&lt;cite&gt;</a></li>
                    <li><a href="">&lt;code&gt;</a></li>
                    <li><a href="">&lt;col&gt;</a></li>
                    <li><a href="">&lt;colgroup&gt;</a></li>
                    <li><a href="">&lt;data&gt;</a></li>
                    <li><a href="">&lt;datalist&gt;</a></li>
                    <li><a href="">&lt;dd&gt;</a></li>
                    <li><a href="">&lt;del&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                    <li><a href="">&lt;&gt;</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <main>
        <section>
            <h1>HTML</h1>
        </section>
    </main>

    <footer>
        <p>
            <span class="domain">B</span>ox<span class="domain">S</span>hadow.fr
        </p>
    </footer>
</body>

</html>