/* MAIN */
main {
    margin-top: 65px;
    padding: 30px 0px 80px;
}

h1 {
    font-family: 'Poppins';
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.form-contact {
    width: 700px;
    margin: 0 auto;
    padding: 30px 60px;
    border: 1px solid var(--border-bg-color);
    border-radius: 5px;
    font-size: 20px;
}

.form-contact input,
textarea {
    margin: 10px 0;
    padding: 10px 10px 10px 50px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.form-contact input:focus,
textarea:focus {
    outline: 1px solid var(--main-sp-color);
}

.form-contact [type="text"],
[type="email"],
textarea {
    width: 100%;
    border: 1px solid var(--border-bg-color);
}

.form-contact .form-person,
.form-email,
.form-message,
.form-send {
    position: relative;
}

.form-contact .form-person i,
.form-email i,
.form-message i {
    position: absolute;
    top: 50px;
    left: 10px;
    color: var(--main-sp-color);
}

.form-send i {
    position: absolute;
    top: 20px;
    left: 100px;
    color: var(--secondary-txt-color);
}

.form-contact [type="submit"] {
    padding: 10px 60px 10px 20px;
    border: none;
    background-color: var(--main-sp-color);
    color: var(--secondary-txt-color);
    cursor: pointer;
}

.form-contact [type="submit"]:hover {
    background-color: var(--main-sp-hover-color);
}

.form-contact label {
    padding: 10px;
    margin-bottom: 30px;
}