/* MAIN */
main {
    display: flex;
    margin-top: 65px;
}

section {
    margin-left: 240px;
    padding: 30px;
}

h1 {
    font-weight: lighter;
    font-size: 48px;
}

/* FOOTER */
footer {
    margin-left: 240px;
}