/* MAIN */
.main-index h1 {
    font-family: 'Poppins';
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.main-index h2 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.courses {
    justify-content: center;
    gap: 50px;
    padding: 80px;
}

.course {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 350px;
    min-height: 200px;
    border: 1px solid var(--border-bg-color);
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    color: var(--main-txt-color);
    animation: start 0.6s ease-out;
}

.course img {
    width: 100px;
}

.course .btn-course {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-sp-color);
    font-size: 16px;
    color: var(--secondary-txt-color);
    text-align: center;
}

.course .btn-course:hover {
    background-color: var(--main-sp-hover-color);
}

@keyframes start {
    from {
        opacity: 0;
        /* transform: scale(.5); */
        transform: translateY(80px);
    }
}

@media only screen and (max-width: 680px) {
    main .courses {
        flex-direction: column;
        align-items: center;
    }
}
