@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

:root {
    --main-bg-color: rgb(32, 33, 49);
    --main-sp-color: rgb(50, 91, 201);
    --main-sp-pink-color: rgb(175, 73, 187);
    --main-sp-hover-color: rgb(44, 78, 172);
    --main-txt-color: rgb(0, 34, 65);
    --secondary-txt-color: rgb(255, 255, 255);
    --border-bg-color: rgb(221, 221, 221);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Nunito', 'Roboto Flex', sans-serif;
    font-size: 18px;
    overflow-wrap: break-word;
    color: var(--main-txt-color);
}

/* STYLE GENERAL */
a {
    text-decoration: none;
    color: var(--secondary-txt-color);
}

ul li {
    list-style: none;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 65px;
    padding: 0 100px;
    background-color: var(--main-bg-color);
    color: var(--secondary-txt-color);
}

header .logo {
    font-size: 40px;
    font-weight: bold;
    color: var(--main-sp-color);
}

header .logo-span {
    font-size: 18px;
    font-weight: normal;
    color: var(--secondary-txt-color);
}

header .logo-pink {
    color: var(--main-sp-pink-color);
}

header input[type="search"] {
    width: 200px;
    height: 30px;
    background-color: var(--main-bg-color);
    border: none;
    border-bottom: 1px solid #fff;
    color: #999;
    font-size: 16px;
}

header input[type="search"]:focus {
    outline: none;
    border-bottom: 1px solid var(--main-sp-color);
    color: var(--secondary-txt-color);
}

header .submit-search {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 80px;
}

nav a {
    color: var(--secondary-txt-color);
}

nav a:hover {
    color: var(--main-sp-color);
}

header .links {
    display: flex;
    gap: 50px;
}

header .social-media {
    display: flex;
    gap: 30px;
}

header .social-media img {
    width: 35px;
    color: red;
}

/* MAIN */
main {
    min-height: 100vh;
}

/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background-color: var(--main-bg-color);
    color: #fff;
}

footer .domain {
    color: var(--main-sp-color);
}