@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;400;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&display=swap');

:root {
    --main-bg-color: rgb(32, 33, 49);
    --main-bg-hover-color: rgba(91, 106, 191, .3);
    /* --main-sp-color: rgb(91, 106, 191); */
    --main-sp-color: rgb(50, 91, 201);
    --main-sp-var-color: rgb(91, 106, 191);
    --main-sp-hover-color: rgb(44, 78, 172);
    --main-txt-color: rgb(0, 34, 65);
    --secondary-txt-color: rgb(255, 255, 255);
    --border-bg-color: rgb(221, 221, 221);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Nunito', 'Roboto Flex', sans-serif;
    font-size: 16px;
    /* overflow-wrap: break-word; */
    color: var(--main-txt-color);
}

/* STYLE GENERAL */
a {
    text-decoration: none;
    color: var(--secondary-txt-color);
}

ul li {
    list-style: none;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    z-index: 200;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    width: 100%;
    height: 65px;
    padding: 0 100px;
    background-color: var(--main-bg-color);
    color: var(--secondary-txt-color);
}

header .logo {
    font-size: 40px;
    font-weight: bold;
    color: var(--main-sp-color);
}

header .logo-span {
    font-size: 18px;
    font-weight: normal;
    color: var(--secondary-txt-color);
}

header .logo-var {
    color: var(--main-sp-var-color);
}

header input[type="search"] {
    width: 200px;
    height: 30px;
    background-color: var(--main-bg-color);
    border: none;
    border-bottom: 1px solid #fff;
    color: #999;
    font-size: 16px;
}

header input[type="search"]:focus {
    outline: none;
    border-bottom: 1px solid var(--main-sp-color);
    color: var(--secondary-txt-color);
}

header .submit-search {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 80px;
}

nav a {
    color: var(--secondary-txt-color);
}

nav a:hover {
    color: var(--main-sp-color);
}

header .links {
    display: flex;
    gap: 50px;
}

header .social-media {
    display: flex;
    gap: 30px;
}

header .social-media a {
    display: flex;
}

header .social-media img {
    width: 35px;
    color: #fff;
}

/* ASIDE */
aside {
    position: fixed;
    width: 240px;
    height: 100%;
    padding: 15px 15px 150px;
    border-top: 1px solid #444;
    background-color: var(--main-bg-color);
    color: #fff;
    overflow-y: auto;
}

aside span {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0 20px;
}

aside span::after {
    content: '';
    position: absolute;
    height: 1.5px;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: var(--main-sp-color);
}

aside a {
    display: inline-block;
    margin: 4px 0;
    border-radius: 5px;
}

aside a:hover {
    padding: 0 15px;
    background-color: var(--main-bg-hover-color);
}

/* MAIN */
main {
    min-height: 100vh;
}

/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background-color: var(--main-bg-color);
    color: #fff;
}

footer .logo {
    color: var(--main-sp-color);
}

footer .logo-var {
    color: var(--main-sp-var-color);
}